//FONTS
$font: 'Raleway', sans-serif;
$pacif: 'Pacifico', cursive;

//COLORS
$black:#262626;
/* $orange:#ff6033;
$about:#00b1b1;
$services:#70bfff; */

// grid
$width-sm: 576px;
$width-md: 767px;
$width-lg: 992px;
$width-lg-xl:1025px;